@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face{
    font-family:'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-size: 16px;
    font-style: normal;
}
:root{
    --cor0: #BDFFDC;
    --cor1: #75E6A8;
    --cor2: #3DDB84;
    --cor3: #4E9970;
    --cor4: #206E42;
    --cor5: #113a22;

    --FontPrincipal: 'Roboto', sans-serif;
    --FontAndroid: 'idroid', 'Roboto', sans-serif;
    --FontDestaque: 'Roboto Condensed', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--FontPrincipal);
}
a.externo::after{
    content: '\00a0\1F517';
}
header h1{
    color: #ffffff;
    font-family: var(--FontDestaque);
    text-shadow: 2px 2px 0px #113a22;
    font-weight: normal;
}
header{
    text-align: center;
    background-image: linear-gradient(180deg, var(--cor2), var(--cor3), var(--cor4), var(--cor5) ) ;
    padding: 10px;
}
header p{
    min-width: 280px;
    max-width: 500px;
    margin: auto;
    padding: 0px 10px 0px 10px;
    color: #ffffff;
}
header nav{
    margin: 50px 0px 0px 0px;
    padding: 5px;
    text-align: left;
}
header nav a {
    margin: 10px 0px;
    padding: 3px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
}
header nav a:hover {
    color: var(--cor3);
}

main{
    background-color: #ffffff;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px #00000040;

}
main p{
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 2em;
    font-weight: 300;
}
main h1, main h2{
    color: var(--cor4);
    font-family: var(--FontAndroid);
    text-align: left;
    margin: 2px;
    font-weight: normal;
}
main strong{
    color: var(--cor4);
    font-weight: bolder;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 2px 6px;
}
main a:hover{
    color: var(--cor4);
    text-decoration: underline;
}
#video{
    padding: 10px;
    padding-bottom: 57%;
    background-color: var(--cor4);
    margin: 0px -15px 30px -15px;
    position: relative;
}
#video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
img{
    width: 100%;
}
.pq{
    max-width: 350px;
    margin: auto;
    display: block;
}
section h2{
    background-image:linear-gradient(90deg, var(--cor0), transparent ) 
}
aside{
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px #00000040;

}
aside h3{
    background-color: var(--cor4);
    color: #ffffff;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-position: inside;
    columns: 2;
    list-style:'🗸';
    margin: 10px;
}
footer{
    background-color: var(--cor5);
    text-align: center;
    color: #ffffff;
    padding: 10px;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor1);
    text-decoration: underline;
}