@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
body{
    width: 100%;
    height: 100%;
    background-color: #1f1f57;
}
header{
    background-color: #77bfff;
}
header h1{
    text-align: center;
    padding: 10px;
}
header #menu{
    width: 100%;
    text-align: center;
    background-color: #1a65a8;
    cursor: pointer;
}
header span{
    padding: 10px;
}
header #menu:hover{
    background-color: #154f82;
}
nav ul li{
    list-style: none;
}
nav{
    display: none;
}
nav ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #248be5;
    border: 2px solid #77bfff;
}
nav ul li a:hover{
    background-color: #1a65a8;
}
main{
    background-color: #248be5;
    max-width: 800px;
    min-width: none;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
article h2{
    padding-bottom: 20px;
}
article p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}