@charset "UTF-8";

/*Estilo para telas*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    background-color: #233eff;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
