@charset "UTF-8";

/*Estilo para telas*/

*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: #00ffff;
    text-align: center;
}
nav{
    color: aliceblue;
}
nav ul{
    background-color: blue;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
article{
    max-width: 500px;
    min-width: none;
    margin: auto;
}